button:hover {
	box-shadow: 0px 0px #292929;
}

button {
  display: inline-block;
}

textarea {
	font-family: 'minecraftia';
	font-size: 15px;
	background-color: #191919;
	color: #fff;
	resize: none;
	border: none;
	outline: none;
}

#output {
	width: 50vw;
}

.clrTxt {
	/* Gradient add 6.25 */
  background: linear-gradient(to right, #ff5555 12.50%, #ffaa00 18.75%, #ffff55 25%, #55ff55 37.50%, #55ffff 43.75%, #00aaaa 50%, #0000aa 56.25%, #5555ff 62.50%, #ff55ff 68.75%, #ffffff 81.25%, #aaaaaa 87.50%, #000000 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.descTxt {
	border-bottom: 2px solid #ffffff;
}

select {
	background-color: #191919;
	color: #ffffff;
	text-align: center;
	/* border: none; */
	outline: none;
	/* font-size: 20px; */
}

.def-select {
	display: none;
}

#dark-red {
	color: #aa0000;
}

#red {
	color: #ff5555;
}

#gold {
	color: #ffaa00;
}

#yellow {
	color: #ffff55;
}

#dark-green {
	color: #00aa00;
}

#green {
	color: #55ff55;
}

#aqua {
	color: #55ffff;
}

#dark-aqua {
	color: #00aaaa;
}

#dark-blue {
	color: #0000aa;
}

#blue {
	color: #5555ff;
}

#pink {
	color: #ff55ff;
}

#purple {
	color: #aa00aa;
}

#white {
	color: #ffffff;
}

#gray {
	color: #aaaaaa;
}

#dark-gray {
	color: #555555;
}

#black {
	color: #000000;
}