@font-face {
  font-family: 'Elder Futhark';
  src: url('/fonts/ElderFuthark.TTF');
}

.elderfuthark {
  font-family: 'Elder Futhark';
  font-size: 26px;
}

#ta2 {
  font-family: 'Elder Futhark';
}

#smaller-text {
  font-size: 16px;
}

#top-text, #bottom-text {
  padding: 7px;
  background-color: #252525;
  border: 2px solid #ffffff;
  border-bottom: none;
  width: 5vw;
  font-size: 16px;
	line-height: 1;
}
