@font-face {
  font-family: 'Daedric';
  src: url('/fonts/Daedra.otf');
}

.daedra {
  font-family: 'Daedric';
}

#ta2 {
  font-family: 'Daedric';
  font-size: 26px;
}

#smaller-text {
  font-size: 16px;
}

#top-text, #bottom-text {
  padding: 7px;
  background-color: #252525;
  border: 2px solid #ffffff;
  border-bottom: none;
  width: 5vw;
  font-size: 16px;
	line-height: 1;
}

#hide1, #hide2 {
  display: none;
}
