@font-face {
  font-family: 'Daedric';
  src: url('/fonts/Daedra.otf');
}

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.daedra {
  font-family: 'Daedric';
}

#ta2 {
  font-family: 'Daedric';
  font-size: 36px;
}

#smaller-text {
  font-size: 16px;
}

#top-text, #bottom-text {
  padding: 7px;
  background-color: #252525;
  border: 2px solid #ffffff;
  border-bottom: none;
  width: 5vw;
  font-size: 16px;
  line-height: 1;
}

#hide, #hide {
  display: none;
}
